<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PasswordResetSettings" type="System.Configuration.NameValueFileSectionHandler"/>
  </configSections>

  
  <PasswordResetSettings>
    <add key="EventLogEventId" value="1" />
    <add key="EventLogSource" value="Password Reset" />

    <add key="Project" value="HLP" />
    <add key="IssueType" value="Password Reset" />
    <add key="StartProcessStatus" value="Waiting to Start" />

    <add key="StartProcessTransition" value="Ready To Start" />
    <add key="CancelApprovalTransition" value="Cancel Approval" />
    <add key="FinalizeTransition" value="Reset Password Success" />

    <add key="Prop_ApplicationAndServices" value="Applications&amp;Services" />
    <add key="Prop_Branch" value="ioc_apps_assist_branches" />
    <add key="Prop_User" value="ioc_apps_user_identification" />
  </PasswordResetSettings>

</configuration>